.content	{ font-family: sans-serif; font-size: 0.9em; margin: 8 8 8 8; }

td     { font-size: 0.9em; }

td.head { padding: 0; margin: 0; vertical-align: top; }
h1.head { margin: 0 0 0 0; color: white; background-color: #336699; padding: 0.3em; }
h2.head { vertical-align: top; margin: 2 0 0 2; color: white; background-color: #008080; 
	font-weight: normal; padding: 0.5em 0.5em 0.5em 1.5em; font-size: 1.4em; }

h2.head2 { vertical-align: top; margin: 2 0 0 0; color: white; background-color: #008080; 
	font-weight: normal; padding: 0.5em 0.5em 0.5em 1.5em; font-size: 1.4em; }

h2 { background: #DDEEFF; font-weight: bold; padding: 0.3em; margin-top: 20; font-size: 1.1em; }

img {
   vertical-align: middle;
   border: 0;
} 

a.withicon {
text-decoration: none;
}
